<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Sinatra NYC</h1>
    <p class="lead">Our client has decided that the history app we're building them should have a special focus on historical figures. For this reason, it is through figure views and controllers that most of the magic of our app will happen. Our app will have view pages for all of the landmarks and a user will be able to create new landmarks.</p>
  </div>
</div>